.user-dropdown {
  top: 100%;
  left: -1px;
  z-index: 99;
  position: absolute;
  min-width: 120px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--form-backgroundcolor);
  border-radius: 0 5px 5px 5px;
  box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.2);
}
