/* ProductPage.css */

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #f8f8f8;
}

.product-page {
  display: flex;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  margin: 0px 5% 0 5%;
}

/* Add this to your existing CSS file or create a new one */

/* Create a new CSS file, e.g., ProductPageStyles.css */

/* ProductPageStyles.css */

/* ProductPageStyles.css */
.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  width: 250px;
  height: 250px;
  max-height: 300px; /* Adjust the maximum height as needed */
  overflow: hidden;
  position: relative;
  transition: transform 0.1s;
  padding: 0px;
  border-radius: 8px;
}

.product-image img {
  object-fit: contain; /* Maintain aspect ratio and cover the container */
  border-radius: 8px;
  padding: 0px;
  height: 235px;
  width: 235px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
  border-radius: 8px; /* Adjust the border-radius for rounded corners */
  transition: transform 0.3s;
}

.product-image img:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

/* Responsive styles for smaller screens */

.product-details {
  flex: 1;
  padding: 30px;
}

.product-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.product-description {
  margin-bottom: 30px;
  color: #555;
}

.product-page-price {
  font-size: 1.5rem;
  color: #e44d26;
  margin-bottom: 10px;
}

.quantity-section {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.add-to-cart-btn {
  background-color: #e44d26;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.5s ease;
}

.add-to-cart-btn:hover {
  background-color: #d1401e;
  scale: 1.02;
  transition: background-color 0.5s ease;
}

.specifications-section ul {
  list-style-type: none;
  padding: 0;
}

.specifications-section li {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

@media (min-width: 801px) and (max-width: 1200px) {
  .product-page {
    margin-top: 50px;
  }
}

/* Responsive Styles */
@media (max-width: 800px) {
  .product-page {
    flex-direction: column;
    margin: 50px 5% 0 5%;
  }

  .product-details {
    order: 1;
    margin-top: 20px;
  }

  .quantity-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .product-image {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    width: auto;
    margin: 0px;
    box-shadow: 0;
    border-radius: 0; /* Adjust the border-radius for rounded corners */
    /* Add other styles as needed */
    height: auto;
  }

  .product-image img {
    object-fit: contain; /* Maintain aspect ratio and cover the container */
    border-radius: 8px;
    padding: 0px;
    margin: 5px 0 5px 0;
    height: 280px;
    width: 280px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
    border-radius: 8px; /* Adjust the border-radius for rounded corners */
  }
  .product-image img:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.13); /* Subtle box shadow */
  }
}
