.shipping-form {
  margin: 0 auto;
  padding: 10px;
  background-color: var(--form-backgroundcolor);
  min-inline-size: min-content;
  max-width: 400px;
  box-sizing: border-box;
  box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.2);
}

.shipping-form-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 2px;
  background-color: var(--color-medium-grey)
}

.shipping-form-item-title {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
  color: var(--color-text-text);
}

.label-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.shipping-form-label {
  font-size: 24px;
  font-style: italic;
}

.shipping-input-field {
  border-radius: 2px;
  padding: 5px;
  font-size: 22px;
  color: var(--color-text-text);
}

.input-disabled {
  border: 1px solid transparent;
  background: transparent;
}

.input-active {
  background: white;
  border: 1px solid rgba(204, 210, 227, 1);
}

@media screen and (min-width: 768px) {
  .shipping-form {
    min-width: inline-fitcontent;
    margin: 30px auto;
    padding: 10px 20px 20px 20px;
    border-radius: 1px;
    box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.2);
  }

  .shipping-form-item {
    flex-direction: row;
    align-items: flex-start;
  }

  .address-item {
    align-items: flex-start;
  }
}