.category-dropdown {
  z-index: 1;
  position: absolute;
  display: flex;

  @media screen and (max-width: 801px) {
    display: none;
  }
}

.category-dropdown-mobile {
  width: 100%;

  @media screen and (min-width: 801px) {
    display: none;
  }
}

.category-dropdown-menu {
  z-index: -1;
  min-width: 460px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
  background: var(--color-light-grey);
  border-radius: 1px;
  font-family: var(--body-texts-text-1-font-family);
  transition: max-height 0.5s ease-in-out;

  @media screen and (max-width: 801px) {
    align-items: center;
  }
}

.category-dropdown-menu-active {
  max-height: 100vh;

  @media screen and (min-width: 801px) {
    max-height: 500px;
  }
}

.category-dropdown-menu-disabled {
  max-height: 0;
}

.category-item-wrapper {
  width: 100%;
  display: flex;
  padding: 10px;
  flex-direction: column;

  @media screen and (min-width: 801px) {
    flex-direction: row;
  }
}

.primary-categories {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 801px) {
    position: relative;
  }
}

.primary-category {
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: center;
  cursor: default;
  border-left: 5px solid transparent;
  border-top: 1px solid var(--color-white-grey);

  @media screen and (min-width: 801px) {
    flex-direction: row;
    justify-content: center;
  }
}

.primary-category:hover {
  border-left: 5px solid var(--mainthird);
}

.primary-category-active {
  background-color: var(--color-white-grey);
}

.primary-text {
  width: max-content;
  line-height: 30px;
  font-size: 15px;
  padding-left: 10px;
  cursor: pointer;

  @media screen and (min-width: 801px) {
    cursor: default;
  }
}

.arror-right-icon {
  display: none;

  @media screen and (min-width: 801px) {
    display: block;
    margin-left: auto;
    width: 20px;
    height: 20px;
  }
}

.arrow-down-icon {
  display: block;
  width: 20px;
  height: 20px;

  @media screen and (min-width: 801px) {
    display: none;
  }
}

.sub-category {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--color-white-grey);
  transform-origin: top;
  animation: grow 0.5s ease;

  @media screen and (min-width: 801px) {
    text-align: unset;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
  }
}

.sub-category-hidden {
  height: 0;
  overflow: hidden;

  @media screen and (min-width: 801px) {
    display: none;
  }
}

.sub-text {
  height: 31px;
  width: 100%;
  font-size: 17px;
  padding: 5px 10px 0 10px;
  cursor: pointer;

  @media screen and (min-width: 801px) {
    position: relative;
    min-width: 220px;
    font-size: 15px;
  }
}

.sub-text:hover {
  background-color: var(--main-white);
}

@media screen and (min-width: 801px) {
  .sub-text:not(:first-child)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 10px;
    border-top: 1px solid var(--color-dark-grey);
  }
}

@media screen and (min-width: 768px) {
  .category-dropdown {
    padding-top: 20px;
    top: calc(100% - 10px);
    left: 0;
  }
}
