.navbar {
  margin: 0 auto;
  padding: 15px 20px 15px 20px;
  /* background-color: #171173; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
  &.sticky {
    position: sticky;
    top: 90px;
    z-index: 1;
  }   
}

@media screen and (max-width: 1173px) {

  .navbar {
    &.sticky {
      top: 160px;
    }
  
  }
}

.navbar button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.navbar-link {
  position: relative;
  font-family: var(--body-texts-text-1-font-family);
  font-size: 18px;
  font-weight: 500;
  margin-left: 10px;
  color: var(--color-text-text);
  /* color: var(--color-light-grey); */
  white-space: nowrap;
  cursor: pointer;
}

.navbar-link::after {
  content: "";
  position: absolute;
  left: 51%;
  right: 51%;
  bottom: -7px;
  height: 5px;
  background-color: var(--mainthird);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.navbar-link:hover::after {
  left: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
}