.no-border-5-padding {
    background: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.no-bg {
    background: transparent;
}

.link:hover::after {
    content: '';
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0;
    height: 5px;
    background-color: var(--mainthird);
    border-radius: 5px;
}
