.full-width {
  width: 100%;
  box-sizing: border-box;
}

.fit-content {
  width: fit-content;
}

.pos-relative {
  position: relative;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.vertically-center {
  align-items: center;
}

.horizontally-center {
  justify-content: center;
}

.center {
  justify-content: center;
  align-items: center;
}

.vertical-flex-start {
  align-items: flex-start;
}

.space-between {
  justify-content: space-between;
}

.block {
  display: block;
}

.no-border-5-padding {
  border: none;
  padding: 5px;
}

.border-1px {
  border: 1px solid var(--main-medium);
}

.border-radius-5px {
  border-radius: 5px;
}

.gap-10px {
  gap: 10px;
}

.gap-20px {
  gap: 20px;
}

.margin-top-20px {
  margin-top: 20px;
}

.margin-top-30px {
  margin-top: 30px;
}

.margin-bottom-5px {
  margin-bottom: 5px;
}

.margin-bottom-10px {
  margin-bottom: 10px;
}

.margin-bottom-20px {
  margin-bottom: 20px;
}

.margin-left-10px {
  margin-left: 10px;
}

.margin-auto-left-right {
  margin-left: auto;
  margin-right: auto;
}

.margin-right-20px {
  margin-right: 20px;
}

.margin-0 {
  margin: 0;
}

.no-bg {
  background: transparent;
}

.no-border {
  border: none;
}

.pointer {
  cursor: pointer;
}

.italic-bold {
  font-style: italic;
  font-weight: 600;
}

.link:hover::after {
  content: "";
  position: absolute;
  left: 20%;
  right: 20%;
  bottom: 0;
  height: 5px;
  background-color: var(--mainthird);
  border-radius: 5px;
  cursor: pointer;
}

.simple-link {
  font-family: var(--body-texts-text-1-font-family);
  font-size: 14px;
  color: var(--color-text-text);
  text-decoration: none;
  cursor: pointer;
}

.simple-link:hover {
  color: var(--mainthird);
}

.btn {
  margin: 20px auto 0 auto;
  cursor: pointer;
  font-size: 20px;
  font-family: var(--body-texts-text-1-font-family);
  color: var(--color-text-text);
  border: 1px solid var(--main-medium);
  border-radius: 5px;
  background-color: var(--main-white);
  padding: 5px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: #5e5e5e 0px 0px 5px;
}

.form {
  width: 100%;
  margin: 30px auto;
  padding: 30px 20px 20px 20px;
  background-color: var(--form-backgroundcolor);
  border-radius: 3px;
  min-inline-size: min-content;
  max-width: 400px;
  box-sizing: border-box;
  box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.2);
}

.form-title {
  margin: 0;
  font-size: 34px;
  font-weight: 700;
  color: var(--main-primary);
}

.input-field {
  border: 1px solid rgba(204, 210, 227, 1);
  border-radius: 2px;
  padding: 5px;
  color: var(--color-text-text);
}

.input-label {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 2px;
}

.underlined {
  border-bottom: 1px solid var(--main-medium);
}

.error {
  color: rgb(195, 0, 0);
  font-size: 16px;
  margin: 10px auto 10px auto;
}

.text-wrapper-2 {
  color: #5e5e5e;
  flex: 1;
  font-family: var(--body-texts-text-1-font-family);
  font-size: var(--body-texts-text-1-font-size);
  font-style: var(--body-texts-text-1-font-style);
  font-weight: var(--body-texts-text-1-font-weight);
  letter-spacing: var(--body-texts-text-1-letter-spacing);
  line-height: var(--body-texts-text-1-line-height);
  position: relative;
}

.text-wrapper-3 {
  color: var(--color-text-text);
  font-family: var(--body-texts-text-2-font-family);
  font-size: var(--body-texts-text-2-font-size);
  font-style: var(--body-texts-text-2-font-style);
  font-weight: var(--body-texts-text-2-font-weight);
  letter-spacing: var(--body-texts-text-2-letter-spacing);
  line-height: var(--body-texts-text-2-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.text-wrapper-4 {
  color: var(--color-text-text);
  font-family: var(--body-texts-text-6-font-family);
  font-size: var(--body-texts-text-6-font-size);
  font-style: var(--body-texts-text-6-font-style);
  font-weight: var(--body-texts-text-6-font-weight);
  letter-spacing: var(--body-texts-text-6-letter-spacing);
  line-height: var(--body-texts-text-6-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  text-decoration: none;
}

.text-wrapper-5 {
  color: #ffffff;
  font-family: var(--body-texts-text-1-font-family);
  font-size: var(--body-texts-text-1-font-size);
  font-style: var(--body-texts-text-1-font-style);
  font-weight: var(--body-texts-text-1-font-weight);
  left: 6px;
  letter-spacing: var(--body-texts-text-1-letter-spacing);
  line-height: var(--body-texts-text-1-line-height);
  position: absolute;
  top: 4px;
  white-space: nowrap;
}
