.register-form {
  position: absolute;
  top: 20px;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
}

.input-field {
  border: 1px solid rgba(204, 210, 227, 1);
  border-radius: 2px;
  padding: 5px;
  color: var(--color-text-text);
}

.visibility-icon {
  position: absolute;
  top: 30px;
  right: 7px;
  width: 25px;
  height: 25px;
}

.back-to-login {
  position: relative;
  margin: 0;
  font-size: 12px;
  padding-bottom: 5px;
  background: transparent;
  border: none;
  color: var(--color-text-text);
  cursor: pointer;
}

#create-account-button {
  margin-top: 20px;
}
