.login-form {
  width: 100%;
  margin: 30px auto;
  max-width: 400px;
  padding: 20px;
  background-color: var(--color-light-grey);
  border-radius: 10px;
  min-inline-size: min-content;
}

.form-input-field {
  border: 1px solid var(--main-medium);
  border-radius: 5px;
  font-size: var(--body-texts-text-5-line-height);
  color: var(--color-text-text);
  padding: 10px 10px 10px 35px;
  width: 100%;
  box-sizing: border-box;
}

.email-icon {
    position: absolute;
    top: 30px;
    left: 7px;
}

.lock-icon {
  position: absolute;
  top: 30px;
  left: 7px;
}