.forgot-password-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  width: 100%;
  max-width: 400px;
}

.forgot-input {
  width: 100%;
  border: 1px solid rgba(204, 210, 227, 1);
  border-radius: 2px;
  margin: 10px 0 20px 0;
  font-size: 16px;
  padding: 5px;
  color: var(--color-text-text);
}

.forgot-submit-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: rgb(0, 0, 140);
  color: var(--main-white);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgb(0, 0, 200);
  }

  &:active {
    background-color: rgb(0, 0, 237);
    transform: scale(0.95);
  }
}