.App {
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

@media (min-width: 800px) {
  .App {
    width: 80vw;
  }
}

.content {
  width: 100%;
  height: calc(100vh - 400px);
  overflow: auto;

  @media screen and (max-width: 1225px) {
    height: calc(100vh - 490px);
  }

  @media screen and (max-width: 801px) {
    height: 100%;
  }
}
